
<form method="POST">
    <div class="box">
        <ul>
            <li class="input-box"><input type="text" name="url" value=""></li>
            <li class="action-button"><button>short it!</button></li>
        </ul>
    </div>
</form>
